<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<h1><%= title %></h1>
		<%- include('includes/menu') -%>

		<h2>Dados enviados</h2>
		<p>Nome: <%= name %></p>
		<p>E-mail: <%= email %></p>
	</body>
</html>